* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    
}

body {
    overflow-x: hidden !important;

}

html {
    scroll-behavior: smooth;

}


.img {
    width: 180px;
    margin-left: 70px;
    margin-top: 10px;
}


.navbar-nav {
    margin-left: 350px;


}

li {
    margin-left: 30px;
    font-weight: bold;
}



.container12{
    display: flex;
    color: white;
    background-color: blue;
}

.btn{
    padding: 10px;
    background-color: red;
    color: white;
    font-weight: bold;
    border: none;
}

.btn:hover{
    background-color:white;
}



.Results-Driven {
    text-align: center;
    color: red;

}


section,
span {
    margin-top: 30px;
    font-weight: bold;

}

.home {
    color: green;

}

a{
    text-decoration: none;
}


.img-fluid{
    width: 100px;
}

.img-fluid:hover{
    transform:translate(1.0);
}




/* footer */
.footer {
    background-color: rgb(125, 125, 143);
    color: white;


}

.logo {
    margin-left: 100px;
    margin-top: 70px;
    display: inline-block;

}

.link {
    display: inline-block;
    margin-left: 50px;
}

.Copyright {
    text-align: center;
    margin-top: 50px;
    border-top: solid white;
    padding: 10px;
}

.img12{
    width: 200px;
}