* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden !important;


}

html {
    scroll-behavior: smooth;
}

.img {
    width: 180px;
    margin-left: 70px;
    margin-top: 10px;
}

.navbar-nav {
    margin-left: 350px;


}

li {
    margin-left: 30px;
    font-weight: bold;
}



/* team */
.card-body img{
    width: 50%;
    height: 180px;
}

.card1 img{
    transition: tranform .5s ease-in-out;
}

.card1:hover{
    background-color:red;
    transform: scale(1.2);
   
}

.image12{
    font-family:'Times New Roman', Times, serif;
}

.star {
    color: orange;
}



/* footer */
.footer{
    background-color: rgb(125, 125, 143);
    color: white;


}

.logo{
    margin-left:100px;
    margin-top: 70px;
    display: inline-block;

}

.link{
    display: inline-block;
    margin-left: 50px;
}

.Copyright{
    text-align: center;
    margin-top: 50px;
   border-top:solid white;
   padding: 10px;
}


.img12{
    width: 200px;
}


@media (max-width:600px) {

    .card1{
        margin-left: 20px;
        margin-top: 40px;
        
    }
    
}
